{
    "presets": [
        [
            "@babel/preset-typescript",
            {
                "forceConsistentCasingInFileNames": true,
                "noImplicitReturns": true,
                "strict": true,
                "noUnusedLocals": true,
            }
        ]
    ]
}